@font-face {
	font-family: 'Trellicons Regular';
	src: url("../font/trellicons-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../font/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	background: #23658b;
}
html, body, input, select, textarea, button {
	font: 13px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #393939;
}