.vizContainer-body {
	margin:0px;
}
.vizContainer-app {
	position:relative;
}
.vizContainer-popUp-layer {
	position:absolute;
	top:0px;
	left:0px;
	width:0px;
	height:0px;
}
.vizContainer-popUp-layer-container {
	overflow:visible;
}
.vizContainer-main-area {
	position:absolute;
	width:100%;
	height:100%;
}
.vizContainer-header-area {
	background-color:#efefef;
}
.vizContainer-chart {
	background-color:#ffffff;
}
.vizContainer-filter-view {
	background-color:#f2f2f2;
}
.vizContainer-interaction-image {
	outline:0;
}
.vizContainer-VizSwitcher {
	margin:0px 8px 0px 0px;
}
.vizContainer-VizSwitcher-icon-normal {
	border-color:transparent;
	border-style:outset;
	border-width:1px;
}
.vizContainer-VizSwitcher-icon-mouseover {
	border-style:outset;
	border-width:1px;
	border-radius:3px 0px 0px 3px;
	border-color:#cccccc;
	border-right-color:transparent;
}
.vizContainer-VizSwitcher-icon-selected {
	background:-webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#d1d1d1));
	border-style:inset;
	border-radius:3px;
	border-width:1px;
	border-color:#cccccc;
}
.vizContainer-VizSwitcher-arrow-normal {
	border-color:transparent;
	border-style:outset;
	border-width:1px;
}
.vizContainer-VizSwitcher-arrow-mouseover {
	border-style:outset;
	border-width:1px;
	border-radius:0px 3px 3px 0px;
	border-color:#cccccc;
	border-left-color:transparent;
}
.vizContainer-FilterMenu-outer-container {
	padding:12px;
	box-shadow:4px 4px 6px #888888;
	border-color:#ffffff;
	border:1px;
	border-style:outset;
}
.vizContainer-FilterMenu-inner-container {
	border-color:#cccccc;
	border-style:solid;
	background-color:#ffffff;
	border-width:1px;
	padding:6px 4px 6px 12px;
}
.vizContainer-FilterMenu-button {
	margin-right:8px;
}
.vizContainer-ContextMenuSettings-normal {
	border-color:transparent;
	border-style:outset;
	border-width:1px;
	padding:5px 1px 5px 1px;
}
.vizContainer-ContextMenuSettings-mouseover {
	border-style:outset;
	border-width:1px;
	border-radius:3px 0px 0px 3px;
	border-color:#cccccc;
	border-right-color:transparent;
	padding:5px 1px 5px 1px;
}
.vizContainer-customized-view {
	border-color:transparent;
	border-style:outset;
	border-width:1px;
}
.vizContainer-title-editor-view {
}
.vizContainer-titleEditor-text {
	background-image:none !important;
	background:transparent;
	border-style:none;
	font-size:16px;
	font-weight:bold;
	outline:0;
}
.vizContainer-titleEditor-text-normal {
	color:#808080;
}
.vizContainer-titleEditor-text-editing {
	color:#000000;
}
.vizContainer-titleEditor-normal {
	border-style:solid;
	border-width:1px;
	border-color:transparent;
}
.vizContainer-titleEditor-mouseover {
	border-style:solid;
	border-width:1px;
	border-color:#c0c0c0;
	background-color:#fbffe3;
}
.vizContainer-titleEditor-editing {
	border-style:solid;
	border-width:1px;
	border-color:transparent;
}
