.grace-dataDiscovery-footer {
    margin: auto;
    height: 20px;
    text-align: left;
    font-size: 13px;
    color: #ffffff;
    margin-left: 16px;
}
.grace-dataDiscovery-footer a {
    color: #ffffff;
    font-size: 15px;
}